.contactMemail {  
  display: flex;
  width: 345px;
  height: auto;
  align-items: center;
  gap: var(--spacing-sm);
  flex-direction: column;
  margin-top:   var(--margin-xl) ;
  
}

.--footer{

    margin-top:   0 ;


}



.contactMemail a.primary {
  text-decoration: none;
  display: flex;
  width: fit-content;
 /* padding: 4.97% 6.95%; */
       padding: var(--padding-lg) var(--padding-xl);
  color: var(--text-anchor-light);
  font-weight: var(--font-weight-medium);
  background-color: transparent;
    border: 3px solid transparent;
    outline: transparent solid 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-wrap: nowrap;
background-color: var(--action-primary-bg-dark);
  border-radius: var(--border-radius-lg);
  gap: var(--spacing-sm);
}





  .contactMemail a.primary:hover {
      border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      border-color: var(--border-blue-active);
    box-shadow: 0 4px 12px 0px rgba(5, 8, 34, 0.4);
  }


 .contactMemail a.primary:focus{
  border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      box-shadow: 0 0 0 .2rem rgba(64, 77, 102, .25);
}


.contactMemail a.secondary {
  text-decoration: none;
  display: flex;
  width: 100%;
  /* padding: 4.97% 6.95%; */
        padding: var(--padding-lg) var(--padding-xl);
  color: var(--text-anchor-dark);
  font-weight: var(--font-weight-medium);
  background-color: transparent;
    border: 3px solid transparent;
    outline: transparent solid 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-wrap: nowrap;
  background-color: transparent;
  border-radius: var(--border-radius-sm);
    gap: var(--spacing-sm);
}


  .contactMemail a.secondary:hover {
      border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      border-color: var(--border-blue-active);
    box-shadow: 0 4px 12px 0px rgba(5, 8, 34, 0.4);
  }


 .contactMemail a.secondary:focus{
  border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      box-shadow: 0 0 0 .2rem rgba(64, 77, 102, .25);
}


.contactMemail a.tertiary{
  text-decoration: none;
  display: flex;
  width:fit-content;
  /* padding: 4.97% 6.95%; */
        padding: var(--padding-lg) var(--padding-xl);
  color: var(--text-anchor-light);
  background-color: transparent;
    border: 3px solid transparent;
    outline: transparent solid 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-wrap: nowrap;
  background-color: transparent;
  border-radius: var(--border-radius-lg);
    gap: var(--spacing-xs);
}

  .contactMemail a.tertiary:hover {
      border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      border-color: var(--border-blue-active);
    box-shadow: 0 4px 12px 0px rgba(5, 8, 34, 0.4);
  }


 .contactMemail a.tertiary:focus{
  border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      box-shadow: 0 0 0 .2rem rgba(64, 77, 102, .25);
}


   @media only screen and (max-width: 380px) {

    .contactMemail {  
  display: flex;
  width: 100%;

  
}
    .contactMemail a.primary , .contactMemail a.secondary, .contactMemail a.tertiary{ 
        width: 100%;
   font-size: var(--font-size-sm);
    }
  }

@media print {
    .contactMemail{
        -webkit-print-color-adjust: exact !important; /* For Chrome, Safari, Edge */
        print-color-adjust: exact !important;         /* Standard property */
    }

    .contactMemail a.primary {
      font-size: var(--font-size-sm);

    }
}

