.container_link-button {
  display: flex;
  width:100%;
  height: fit-content;
  align-items: center;
  gap: var(--spacing-base);
  justify-content: left;
  margin:   var(--margin-lg) var(--margin-base) var(--margin-base) 0;

}

.container_link-button a.primary {
  text-decoration: none;
  display: flex;
  width: fit-content;
  padding: 1.89% 3.78%;
  color: var(--text-anchor-light);
  font-weight: var(--font-weight-medium);
    border: 1.6px solid transparent;
    outline: transparent solid 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-wrap: nowrap;
  background-color: var(--action-primary-bg-dark);
  border-radius: var(--border-radius-xs);
  outline-offset:transparent;  }




.container_link-button a.primary:hover{
      border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      border-color: var(--border-blue-active);
    box-shadow: 0 4px 12px 0px rgba(5, 8, 34, 0.4);
  }


.container_link-button a.primary:focus{
  border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      box-shadow: 0 0 0 .2rem rgba(64, 77, 102, .25);
}

.container_link-button a.secondary {
  text-decoration: none;
  display: flex;
  width: fit-content;
  padding: 1.89% 3.78%;
  color: var(--text-anchor-dark);
  font-weight: var(--font-weight-medium);
  background-color: transparent;
    border: 1.6px solid var(--border-action-primary-dark);;
    outline: transparent solid 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-wrap: nowrap;
  background-color: transparent;
  border-radius: var(--border-radius-xs);
}

.container_link-button a.secondary:hover{
      border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      border-color: var(--border-blue-active);
    box-shadow: 0 4px 12px 0px rgba(5, 8, 34, 0.4);
  }


.container_link-button a.secondary:focus{
  border-color: var(--border-blue-active);
  outline: 6px solid var(--border-component-quaternary-light);
      box-shadow: 0 0 0 .2rem rgba(64, 77, 102, .25);
}

.container_close {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: right;
  align-items: center;
}

.close {
  width: auto;
  margin: 8px 8px;
  border: 1px solid var(--border-action-primary-light);
  background-color: var(--action-item-primary-light);
  padding: 1.89% 3.78%;
  color: var(--text-main-dark);
  font-weight: var(--font-weight-base);
}


.close:hover {
    background-color: var(--action-item-hover);
  outline: 1px solid var(--outline-action-secondary-dark-hover);
  color: var(--text-main-light);
  font-weight: var(--font-weight-medium);

}

  @media only screen and (max-width: 768px) {

    .container_link-button {
      gap: var(--spacing-base);
    }
    .container_link-button a.primary, .container_link-button a.secondary {
   width: 33.333%;
    }
  }