.logo_container {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;

}

.name_container {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;

}

.name_container  h1{
    font-size: 2.986rem;
letter-spacing: -0.16px;
font-weight: 800;
line-height: 1.1;

}

.profession_container {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-right: 1.333px;
    margin-top:-9.333px;
}

.profession_container  p {
    font-size: 1.38rem;
letter-spacing: -0.127px;
line-height: 1;
}


@media only screen and (max-width: 768px) {

.name_container  h1{
    font-size: 2.016rem;
}

.profession_container {
    margin-top:-5.834px;
}
.profession_container  p {
    font-size: 0.8625rem;

}
}
